@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
.grid-container {
  display: grid;
  grid-template-columns: 27.3% 77.7%;
  grid-template-rows: 43% 39% 16% 2%;
  gap: 0px 0px;
  grid-template-areas: "datos educacion" "datos experiencia" "diplomas diplomas" "footer footer";
}

.datos { grid-area: datos; 
background-color: #222a26;
color: white;
padding-top: 2em;
}

.educacion { grid-area: educacion; 
background-color: #d4d3d3;}

.experiencia { grid-area: experiencia; 
background-color: white;}

.diplomas { grid-area: diplomas;
background-color: black; }

.footer { grid-area: footer;
background-color: #222826;
color: white;
font-style: italic;
font-size: 0.9em;
text-align: center;
}

body{
	font-family: 'Open Sans', sans-serif;
	max-width: 1285px;
}

h1{
	font-size: 3em;
	font-weight: bold;
	padding: 0.2em;
}
h2{
	font-size: 2em;
	font-weight: bold;
	margin: 0.5em 0.2em ;
	text-decoration-line: underline;
	text-underline-position: under;

}
p, li{
	font-size: 1.3em;
	line-height: 1.5em;
	padding: 0.5em;
}
div.educacion ul, div.experiencia ul{
	margin-left: 1em;
	
}

.avatar{
	border-radius: 50%;
	height: auto;
	margin: 5% 15%;
	width: 70%;
}

.sobre_mi {
	margin-left: 0.2em;
}
.iconos_a{
	height: auto;
	margin: 1.5em 1em;
	width: 55%;
}
.iconos{
	height: 0.8em;
	vertical-align: middle;
}
.centrado{
	margin-top: 2em;
	text-align: center;
}
.contacto{
margin: auto 3em;
}
#mensaje{
	height: 8em;
	width: 80%;
}
#submit{
	margin-top: 0.6em;
	padding: 0.2em;
	width: 7em;
}
.footer p{
	margin-top: 0.5em;
}
label {
    display:block;
    margin-top:1.5em;
    letter-spacing:1px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:100%;
    color: #d4d3d3;
}

@media only screen and (max-device-width: 768px){
	body{
		width: 100%;
	}

	.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 26% 25.5% 34% 12% 2.5%;
   gap: 0px 0px;
  grid-template-areas: "datos" "educacion" "experiencia" "diplomas" "footer";
}

.datos { grid-area: datos;}

.educacion { grid-area: educacion; }

.experiencia { grid-area: experiencia; }

.diplomas { grid-area: diplomas; }

.footer { grid-area: footer; }
.avatar{
	margin: 1em 33%;
	width: 35%;

}
br, .centrado p{
	display: none;
}
h1{
	text-align: center;
}
.iconos_a{
	width: 15%;
}

}
